/* font-family: "Exo2Regular"; */
@font-face {
    font-family: "Exo2Regular";
    src: url("../fonts/Exo2Regular/Exo2Regular.eot");
    src: url("../fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2Medium"; */
@font-face {
    font-family: "Exo2Medium";
    src: url("../fonts/Exo2Medium/Exo2Medium.eot");
    src: url("../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
    url("../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2SemiBold"; */
@font-face {
    font-family: "Exo2SemiBold";
    src: url("../fonts/Exo2SemiBold/Exo2SemiBold.eot");
    src: url("../fonts/Exo2SemiBold/Exo2SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2SemiBold/Exo2SemiBold.woff") format("woff"),
    url("../fonts/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLightItalic"; */
@font-face {
    font-family: "OpenSansLightItalic";
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot");
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.woff") format("woff"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*HEADER*/
.header_logo {
    margin: 10px 0 0 0;
}
.logo_text {
    color: #000;
    font-family: OpenSansRegular;
    font-size: 12px;
    border-top: 1px solid #25ace3;
    width: 177px;
    margin-top: 3px;
}
.logo_rectangle {
    color: #ffffff;
    font-family: OpenSansLightItalic;
    font-size: 15px;
    background: url("../images/logo_rectangle.png") no-repeat;
    padding: 3px 0 4px 20px;
    display:inline-block;
    width: 202px;
    position: relative;
    top: -15px;
}
@media screen and (max-width: 991px) {
    .logo_rectangle {
        top: 3px;
    }
}
.header_support {
    margin-top: 35px;
}
.header_support_info1 {
    color: #25ace3; /* text color */
    font-family: Exo2SemiBold;
    font-size: 13.83px;
    text-transform: uppercase;
    display: inline;
}
.header_support_info2 {
    color: #2c2c2c; /* text color */
    font-family: Exo2Regular;
    font-size: 18px;
}
.header_contacts {
    margin-top: 25px;
    padding: 0;
}
@media screen and (max-width: 767px) {
    .header_contacts {
        margin-top: 0;
    }
}
.header_phone {
    color: #4d4c4c; /* text color */
    font-family: Exo2SemiBold;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.header_skype {
    color: #1565c0; /* text color */
    font-family: Exo2Medium;
    font-size: 16px;
    display: inline;
}

/*NAVIGATION*/
.navbar {
    margin-bottom: 0;
}
.navbar, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{
    background: #393b3c;
}
.navbar-nav>li>.dropdown-menu {
    background: #393b3c;
}
.dropdown-menu>li>a:hover {
    background: #393b3c;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #fff;
    font-family: OpenSansRegular;
    font-size: 18px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #25ace3;
    background: #393b3c;
}
.navbar-default .navbar-toggle {
    border-color: #181a1b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus  {
    background: #555758;
}

.active {
    color: #25ace3;
}
.nav>li>a.dropdown-toggle{
    padding-right: 0;
}
#carret {
    margin-left: 3px;
}
.dropdown-menu {
    min-width: 0px !important;
}
.dropdown-menu>li>a {
    padding: 3px 15px;
}


/*TOP BLOCK*/
#top {
    background: url("../images/top_bg.png") no-repeat;
    height: auto;
    background-size: 100%;
}
.top-block-el {
    background: #fff;
    margin-top: 70px;
    margin-right: 30px;
    padding: 0;
}
.top-block-el p {
    padding: 20px 30px;
    margin-bottom: 0;
    color: #353535;
    font-family: OpenSansSemiBold;
    font-size: 18px;
    text-transform: uppercase;
}
.top-block-el ul {

    padding: 10px 0;
}
.top-block-el li {
    padding: 5px 0;
    cursor: pointer;
}
.top-block-el-active {
    background: url("../images/list1_rectangle.png") no-repeat top right;
    width: 105%;
}
.top-block-el li p {
    text-transform: none;
    display: inline;
    color: #000000;
    font-family: OpenSansRegular;
    font-size: 14px;
    padding: 0 0 0 10px;
}
.top-block-el li img {
    margin-left: 30px;
}

.one-px-line {
    height: 1px;
    width: 100%;
    background-color: #c2c0bd;
    font-size: 0px;
    line-height: 0px;
    display: block;
}
