/* font-family: "Exo2Regular"; */
@font-face {
    font-family: "Exo2Regular";
    src: url("../fonts/Exo2Regular/Exo2Regular.eot");
    src: url("../fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2Medium"; */
@font-face {
    font-family: "Exo2Medium";
    src: url("../fonts/Exo2Medium/Exo2Medium.eot");
    src: url("../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
    url("../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2SemiBold"; */
@font-face {
    font-family: "Exo2SemiBold";
    src: url("../fonts/Exo2SemiBold/Exo2SemiBold.eot");
    src: url("../fonts/Exo2SemiBold/Exo2SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2SemiBold/Exo2SemiBold.woff") format("woff"),
    url("../fonts/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLightItalic"; */
@font-face {
    font-family: "OpenSansLightItalic";
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot");
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.woff") format("woff"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*HEADER*/
.header_logo {
    margin: 10px 0 0 0;
}
.logo_text {
    color: #000;
    font-family: OpenSansRegular;
    font-size: 12px;
    border-top: 1px solid #25ace3;
    width: 177px;
    margin-top: 3px;
}
.logo_rectangle {
    color: #ffffff;
    font-family: OpenSansLightItalic;
    font-size: 15px;
    background: url("../images/logo_rectangle.png") no-repeat;
    padding: 3px 0 4px 20px;
    display:inline-block;
    width: 202px;
    position: relative;
    top: -15px;
}
@media screen and (max-width: 991px) {
    .logo_rectangle {
        top: 3px;
    }
}
.header_support {
    margin-top: 35px;
}
.header_support_info1 {
    color: #25ace3; /* text color */
    font-family: Exo2SemiBold;
    font-size: 13.83px;
    text-transform: uppercase;
    display: inline;
}
.header_support_info2 {
    color: #2c2c2c; /* text color */
    font-family: Exo2Regular;
    font-size: 18px;
}
.header_contacts {
    margin-top: 25px;
    padding: 0;
}
@media screen and (max-width: 767px) {
    .header_contacts {
        margin-top: 0;
    }
}
.header_phone {
    color: #4d4c4c; /* text color */
    font-family: Exo2SemiBold;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.header_skype {
    color: #1565c0; /* text color */
    font-family: Exo2Medium;
    font-size: 16px;
    display: inline;
}

/*NAVIGATION*/
.navbar {
    margin-bottom: 0;
}
.navbar, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{
    background: #393b3c;
}
.navbar-nav>li>.dropdown-menu {
    background: #393b3c;
}
.dropdown-menu>li>a:hover {
    background: #393b3c;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #fff;
    font-family: OpenSansRegular;
    font-size: 18px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #25ace3;
    background: #393b3c;
}
.navbar-default .navbar-toggle {
    border-color: #181a1b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus  {
    background: #555758;
}

.active {
    color: #25ace3;
}
.nav>li>a.dropdown-toggle{
    padding-right: 0;
}
#carret {
    margin-left: 3px;
}
.dropdown-menu {
    min-width: 0px !important;
}
.dropdown-menu>li>a {
    padding: 3px 15px;
}


/*TOP BLOCK*/
#top {
    background: url("../images/top_bg.png") no-repeat;
    height: auto;
    background-size: 100%;
    padding-left: 10%;
}
.top-block-el {
    background: #fff;
    margin-top: 70px;
    margin-right: 30px;
    margin-left: 0;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#top-col2 {
    height: 616px;
}
@media screen and (max-width: 991px) {
    #top-col2 {
        margin-top: 0;
        height: auto;
    }
}
@media screen and (max-width: 767px) {
    #top-col3 {
        margin-top: 0;
    }
}
.top-block-el-active {
    /*background: url("../images/list1_rectangle.png") no-repeat top right;*/
    background: url("../images/list1_rectangle.png") no-repeat;
    width: 105%;
}
.filter_white {
    -webkit-filter: brightness(0.2) invert(1);
    filter: brightness(0.2) invert(1);
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}
.table-borderless tbody tr td {
    padding: 5px 0 5px 0
}
.table-borderless tbody tr td:first-of-type {
    padding: 5px 30px
}
.table-borderless thead {
    border-bottom: 1px solid #c2c0bd;
    color: #353535;
    font-family: OpenSansSemiBold;
    font-size: 18px;
    text-transform: uppercase;
}
.table-borderless thead tr th {
    padding: 20px 0;
}
.table-borderless thead tr th:first-of-type {
    padding-left: 30px;
}
.table>tbody>tr {
    cursor: pointer;

}
.table>tbody>tr>td p{
    color: #000000;
    font-family: OpenSansRegular;
    font-size: 14px;
    margin: 0 0 0 20px;
    display: inline;
}
.table>tbody>tr>td p.top-col2-currency {
    margin: 0;
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-bottom: 0;
}
.top-col2-info {
    color: #fff !important;
    font-family: OpenSansRegular;
    font-size: 12px;
    border-bottom: 1px dotted #fff;
}
.second_table .table-borderless tbody tr td{
    padding: 0;
}
.form-group:first-of-type {
    margin-top: 15px;
}
.form-group {
    margin-bottom: 20px;
}
.btn-primary {
    background: #25ace3;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: OpenSansSemiBold;
    font-size: 18px;
    color: #fefefe;
}
.btn-primary:hover, .btn-primary:focus{
    background: #1e7ea9;
}
a.form-control-static.top-col-3-1 {
    color: #808080;
    font-family: OpenSansRegular;
    font-size: 16px;
    text-decoration: underline;

    margin-left: 10px;
}
a.form-control-static.top-col-3-1:hover {
    color: #383838;
}
a.form-control-static.top-col-3-2 {
    color: #808080;
    font-family: OpenSansLight;
    font-size: 12px;

    margin-left: 10px;
}
a.form-control-static.top-col-3-2:hover {
    color: #000;
    text-decoration: none;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 45px;
}
.left-inner-addon i {
    position: absolute;
    top: 6px;
    left: 10px;
    padding: 10px;
    pointer-events: none;
}
i.icon-user  {
    background: url("../images/ic_user.png") no-repeat;
}
i.icon-password  {
    background: url("../images/ic_pw.png") no-repeat;
    margin-left: 2px;
}
.default-cursor {
    cursor: default !important;
}


.side-fixed {
    width: 36px;
    height: 245px;
    background: url("../images/help_online.png");
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 999;
    border: none;
}